#main-title {
    color: rgb(0, 217, 255);
}
body {

    background-color: #f2f2f2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.card {
    width: 300px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: black;
    padding: 30px;
    margin: 100px auto ;
    text-align: center;
    border-radius: 10px;

}
img {
    width: 100px;
    border-radius: 50%;
}

button {
    background: rgb(8, 0, 255);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
}
p {
    font-size: larger;
}