body {
    background-color: #f2f2f2;
    font-family: Arial;

}
.card {
    width: 300px;
    background: white;
    padding: 30px;
    margin: 100px auto ;
    text-align: center;
    border-radius: 10px;

}
img {
    width: 100px;
    border-radius: 50%;
}

button {
    background: rgb(8, 0, 255);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
}